* @Aya-ElCheikhIbrahim

Lead ownership.

/backend/      @Aya-ElCheikhIbrahim @AbdallahNashar
/android/      @IssamElSayed
/web/          @HamzaMaaliki

/docs/api/     @Aya-ElCheikhIbrahim @AbdallahNachar

# API contract
/docs/api/     @Aya-ElCheikhIbrahim @AbdallahNachar
