SECRET_KEY=change_it
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=municipal_police
DB_USER=postgres
DB_PASSWORD=change_it
DB_HOST=localhost
DB_PORT=5433
CORS_ALLOWED_ORIGINS=http://localhost:5173